/* styles.css */
body {
	background-image: url(../img/pexels-pixabay-235985.jpg);
	background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
h1 {
	font-size: 20em;
	color: hotpink;
}
p {
	font-size: 10em;
	color: #ffc482;
}
